<!-- About Page including Header/Footer sections to avoid repetition-->
{% include "header.html" %}
<div class="container">	
{% include "home-navigation.html" %}
	<div class="about">
		<center>
		<p />
			<img src="{{url_for('static',filename='img/diary2.jpg')}}" style="width: 40%;height: 25%;">
		<p />
	This is a Diary Web Application Coded in Flask Python Framework.That Does the Following Below:
		<hr />
		</center>
MyDiary is an online journal where users can pen down their thoughts and feelings.
Required Features<p>
<ol>
<li>Users can create an account and log in.</li>
<li>Users can view all entries to their diary.</li>
<li>Users can view the contents of a diary entry.</li>
<li>Users can add or modify an entry.</li>
</ol>
		
	</div>
</div>
{% include "footer.html" %}
</body>
</html>