
{% include "header.html" %}

<div class="container">
	{% include "home-navigation.html" %}
	<center style="padding-top: 150px;">
	<div class="login" >
		<form>
			<input type="text" name="username" placeholder="Username" class="input_field"> <p />
			<input type="password" name="password" placeholder="Password" class="input_field"><p />
			<label>&nbsp;</label>
			<input type="submit" value="Login" id="submit_btn">

		</form>
	</div>
	</center>
</div>

{% include "footer.html" %}
</body>
</html>