{% include "header.html"%}
<div class="container">
	{% include "user-navigation.html"%}
	<div class="user-body">
		<!-- display entries-->
		<center><h1>Welcome to your Entries</h1><p /></center>
		<div class="notification">
			<p />
			<center>
			<ul>
				<li><a href="#" onclick='entry();'>How was your Day ? </a></li>
			</ul>
			</center>
			<p />
		<center><u><h4>History</h4></u><p />
		<ul>
		<li><a href="#">You Posted on 07-02-2018</a></li>
		</ul>
		</center>
		</div>
	</div>
</div>

{% include "footer.html"%}
